
# Создано компанией https://www.toptal.com/developers/gitignore/api/windows
# Edit at https://www.toptal.com/developers/gitignore?templates=windows

### Окна ###
# Файлы кэша миниатюр Windows
Большие пальцы.
Thumbs. db:шифруемые ehthumbs
. db
ehthumbs_vista. db

# Файл дампа
*. stackdump

# Папка конфигурационный файл
[Dd]esktop. ini

# Корзина, используемая в общих файловых ресурсах
$RECYCLE. BIN/

# Файлы установщика Windows
*. cab
* . msi
*. msix
*. msm
* . msp

# Ярлыки Windows
*. lnk

# Конец https://www.toptal.com/developers/gitignore/api/windows
